{% extends 'main/base.html' %}

{% block content %}
<div class="mainLabel"><h1>О нас</h1></div>
<div class="aboutus-container">
    <div class="imagebuttonvk aboutus-container">
        <a href="https://www.vk.com"><img src="../../static/image/vk.svg"></a>
    </div>
    <div class="imagebuttontelegram aboutus-container">
        <a href="https://telegram.org"><img src="../../static/image/telegram.svg"></a>
    </div>
    <div class="text-about aboutus-container">
        <p>Веб приложение для поиска и покупки товаров, созданное при помощи Django/sqlite3.
            С помощью веб приложение можно купить одежду, товары для животных, книги, товары для детей, фармакологические товары,
            электротовары и многое другое.</p>
    </div>
</div>
{% endblock %}