{% extends 'main/base.html' %}

{% block content %}
<div class="mainLabel" style="text-align: center;"><h1>Добро пожаловать, {{ user.nickname }}!</h1></div>
        <div class="catalog-container ">
            {% if user.usertype == 'seller' %}
                <a href="{% url 'myProducts' %}" class="catalog-container myProducts">Мои товары</a>
                <a href="{% url 'addProduct' %}" class="catalog-container myProducts">Добавить товар</a>
            {% endif %}
            <a href="{% url 'deleteUser' %}" class="catalog-container deleteAcc" style="color: red">Удалить аккаунт</a>
            <a href="{% url 'logout' %}" class="catalog-container logout">Выйти</a>
        </div>
{% endblock %}