{% extends 'main/base.html' %}

{% block content %}
<div class="registration">
        <div class="registration entryText"><h1>Регистрация</h1></div>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <label>
            <input type="number" name="username" placeholder="Номер телефона" class="registration username">
            {% if form.errors.username %}
                <div class="registration usernameError errorsInput">Ошибка телефон</div>
            {% endif %}
        </label>
        <label>
            <input type="text" name="nickname" placeholder="Nickname" class="registration nickname">
            {% if form.errors.nickname %}
                <div class="registration nicknameError errorsInput">Ошибка nickname</div>
            {% endif %}
        </label>
        <label>
            <input type="password" name="password1" placeholder="Пароль" class="registration password1">
            {% if form.errors.password2 %}
                <div class="registration passwordError errorsInput">Ошибка password</div>
            {% endif %}
        </label>
        <div class="registration passwordCriterion">
            <li class="passwordCriterion1">Ваш пароль не может быть слишком похож на другую вашу личную информацию.</li>
            <li class="passwordCriterion2">Ваш пароль должен содержать не менее 8 символов.</li>
            <li class="passwordCriterion3">Ваш пароль не может быть широко используемым паролем.</li>
            <li class="passwordCriterion4">Ваш пароль не может использовать только числа.</li>
        </div>
        <label>
            <input type="password" name="password2" placeholder="Повторите пароль" class="registration password2">
        </label>
        <label>
            <input type="email" name="email" placeholder="Почта" class="registration email">
            {% if form.errors.email %}
                <div class="registration emailError errorsInput">Ошибка email</div>
            {% endif %}
        </label>
        <label>
            <input type="text" name="last_name" placeholder="Фамилия" class="registration last_name">
        </label>
        <label>
            <input type="text" name="first_name" placeholder="Имя" class="registration first_name">
        </label>
        <label>
            <input type="text" name="second_name" placeholder="Отчество" class="registration second_name">
        </label>
        <label>
            <select name="usertype" size="1" class="registration usertype">
            <option selected value="buyer" class="choice1 usertype">Я покупатель</option>
            <option value="seller" class="choice2 usertype">Я продавец</option>
            </select>
        </label>
        <button class="registration registrationButton" type="submit" style="margin-left: 2px">Зарегистрироваться</button>
        <div class="registration loginLinkText"><p>Есть аккаунт? <a href="/login">Вход</a></p></div>
    </form>
</div>
{% endblock %}